.Rproj*
.Rhistory
box_etal.R
draft.md
draft.R
data/*
!data/daily_crime_mobility-2020*
.Rproj.user
tmp.Rdata
plots/
!plots/*.pdf
*.sh
!render-pdf-docker.sh
results/
.stata14/
documents/
tables/
*.do
covid-final-models.md
covid-final-models.html
covid-final-models.knit.md
covid-final-models.utf8.md
covid-final-models.log
*.tar.gz
html-output/
pdf-output/
figure/
mobility-data*
!mobility-data.Rmd
