.Rproj*
.Rhistory
box_etal.R
draft.md
draft.R
data/*
!data/daily_crime_mobility-2020*
.Rproj.user
tmp.Rdata
plots/
*.sh
results/
.stata14/
documents/
tables/
*.do
covid-final-models.md
covid-final-models.html
